<!-- views/memberInformation.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Member Information</title>
    <link rel="stylesheet" href="/css/memberInformation.css">
</head>
<body>
    <div id="membercontainer" class="membercontainer">
        <form action="/members" method="post">
            <h1>Personal Information</h1>
            <div class="input-container">
                <input type="text" name="last" placeholder="Last Name" value="<%= user.last_name %>" required>
                <input type="text" name="number" placeholder="Contact Number" value="" required>
                <input type="text" name="first" placeholder="First Name" value="<%= user.first_name %>" required>
                <input type="text" name="middle" placeholder="Middle Name" value="<%= user.middle_name %>" required>
                <input type="text" name="address" placeholder="Address" value="<%= user.address %>" required>
                <input type="date" name="dob" placeholder="Date of Birth" value="<%= user.dob %>" required>
                <input type="email" name="email" placeholder="Email" value="<%= user.email %>" required>
                <select id="gender" name="gender" class="styled-select" required>
                    <option value="Male" <%= user.gender === 'Male' ? 'selected' : '' %>>Male</option>
                    <option value="Female" <%= user.gender === 'Female' ? 'selected' : '' %>>Female</option>
                </select>
                <input type="text" name="idnum" placeholder="ID Number" value="<%= user.id_number %>" required>
            </div>
            <button type="submit" name="update" id="update-button">Update</button> 
        </form>
    </div>
</body>
</html>
